:root {
    --box-tab-background: #b9caaf;
    --background: linear-gradient(0deg, #b9caaf, #eaffdd);
    --border: #94a58a;
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    background: var(--background);
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-top: 16px;
}

.brand {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    border: 2px solid black;
    padding: 8px;
}

.box:has(.tab) {
    padding: 0;
}

.box .tab {
    padding: 8px;
    font-weight: bold;
    background: var(--box-tab-background);
}

.box:has(.tab):has(.content) .tab {
    border-bottom: 2px solid black;
}

.box .content {
    background: white;
    padding: 8px;
}

.uploaded-files {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 8px;
}

@media only screen and (max-width: 900px) {
    .uploaded-files {
        display: flex;
        flex-direction: column;
    }
}

.uploaded-file {
    display: flex;
    flex-direction: column;
    gap: 16px;
    min-width: 160px;
    min-height: 160px;
}

.uploaded-file .preview {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.preview img,
.preview video {
    max-width: 64px;
    max-height: 64px;
}

.uploaded-file .info {
    font-size: 12px;
    color: gray;
}