:root {
    --box-tab-background: #b9caaf;
    --background: linear-gradient(0deg, #b9caaf, #eaffdd);
    --border: #94a58a;
    --file-dropdown-background: #eef3ec;
    --file-dropdown-background-hover: linear-gradient(0deg, #d6eecc, #eef3ec);
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

noscript {
    background: black;
    color: white;
    width: 100%;
    font-size: 20px;
    padding: 8px 0;
    justify-content: center;
    align-items: center;
    display: flex;
}

footer {
    color: var(--border);
    font-size: 12px;
    padding: 4px;
    text-align: center;

    border-top: 1px solid var(--border);
}

table.vertical {
    border-spacing: 8px;
}

table.vertical th {
    text-align: right;
    vertical-align: top;
}

table.vertical.left th {
    text-align: left;
}

textarea {
    width: 256px;
    height: 128px;
    resize: vertical;
}

summary:hover {
    cursor: pointer;
}

.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    background: var(--background);
}

main,
.wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex-grow: 1;
}

.wrapper {
    padding-top: 16px;
}

.brand {
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

.brand img {
    max-height: 128px;
}

.box {
    border: 2px solid black;
    padding: 8px;
    background: white;
}

.box:has(.tab) {
    background: none;
}

.box:has(.tab) {
    padding: 0;
}

.box .tab {
    padding: 8px;
    font-weight: bold;
    background: var(--box-tab-background);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.box:has(.tab):has(.content) .tab {
    border-bottom: 2px solid black;
}

.box .content {
    background: white;
    padding: 8px;
}

.red {
    background: #f8cbc6;
    border-color: #be7b7b;
}

span.red {
    background: none;
    border-color: none;
    color: red;
    font-weight: bold;
}

.uploaded-files {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 8px;
}

@media only screen and (max-width: 900px) {
    .uploaded-files {
        display: flex;
        flex-direction: column;
    }
}

.uploaded-file {
    display: flex;
    flex-direction: column;
    gap: 16px;
    min-width: 160px;
    min-height: 160px;
}

.uploaded-file.highlight {
    animation: show 600ms 600ms cubic-bezier(0.38, 0.97, 0.56, 0.76) forwards;
    background: yellow;
}

@keyframes show {
    100% {
        background: white;
    }
}

.uploaded-file .preview {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.preview img,
.preview video {
    max-width: 64px;
    max-height: 64px;
}

.uploaded-file .info {
    font-size: 12px;
    color: gray;
}

.form-dropzone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: var(--file-dropdown-background);
    color: var(--border);

    border: 4px dashed var(--border);
    padding: 48px 16px;
}

.file-upload #form-submit-button {
    display: flex;

    justify-content: center;
    align-items: center;

    padding: 8px 0;
    font-size: 18px;

    border-radius: 4px;
    border: 1px solid gray;
    background: linear-gradient(0deg, var(--border), var(--box-tab-background));

    flex-grow: 1;
}

.file-upload #form-submit-button:hover {
    background: linear-gradient(180deg, var(--border), var(--box-tab-background));
    cursor: pointer;
}

.form-dropzone:hover {
    cursor: pointer;
    background: var(--file-dropdown-background-hover);
}

.files>.file {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 128px;
    height: 128px;
}

.files>.file>img {
    max-width: 100%;
    max-height: 100%;
}

.file-preview img,
.file-preview video {
    max-width: 80vh;
    max-height: 50vh;
}

.hint {
    font-size: 10px;
    cursor: help;
    vertical-align: top;
}

.row {
    display: flex;
    flex-direction: row;
}

.row-reverse {
    display: flex;
    flex-direction: row-reverse;
}

.column {
    display: flex;
    flex-direction: column;
}

.gap-8 {
    gap: 8px;
}

.grow {
    flex-grow: 1;
}

.flex-wrap {
    flex-wrap: wrap;
}

.small-font {
    font-size: 12px;
}

.font-tiny {
    font-size: 8px;
}

.text-gray {
    color: gray;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.align-bottom {
    align-items: end;
}