<div class="header">
    <div class="brand">
        <a href="/"><img src="static/img/favicon.png" alt=""></a>
        <div class="brand-description">
            <h1>{{ rusti_name }}</h1>
            <p>{{ rusti_description }}</p>
        </div>
    </div>
</div>