<div class="header">
    <div class="brand">
        <a href="/"><img src="static/img/favicon.png" alt=""></a>
        <div class="brand-description">
            <h1>{{ rusti_name }}</h1>
            <p>{{ rusti_description }}</p>
        </div>
    </div>
    <div class="navbar">
        <a href="/" class="navbar-item {{#if is_home}}selected{{/if}}">home</a>
        <a href="/gallery" class="navbar-item {{#if is_gallery}}selected{{/if}}">gallery</a>
    </div>
</div>