<div class="footer">
    <div class="copyright">
        <p>powered by <a href="https://github.com/ilotterytea/rusti" target="_blank">rusti v{{ rusti_version }}</a>!
            licensed under
            Apache-2.0.</p>
    </div>
</div>