<head>
    {{#if page_title }}
    <title>{{ page_title }} - {{ rusti_name }}</title>
    {{else}}
    <title>{{ rusti_name }}</title>
    {{/if}}
    <link rel="stylesheet" href="static/css/style.css">
</head>